VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_DOKU_CLIENT_ID=doku_key_a202cc1e0eea4376914588e70cdf5749

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DOKU_CLIENT_ID=doku_key_a202cc1e0eea4376914588e70cdf5749
DOKU_SECRET_KEY=SK-romzHSD0PDLsF1tMC830
DOKU_IS_PRODUCTION=false
